@model HRManagementSystem.ViewModels.Employees.EmployeeFormViewModel


<h1>تعديل موظف</h1>

<form asp-action="Edit" method="post">

    <input asp-for="Id" type="hidden" />

    <partial name="_EmployeeForm" />

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
